<template>
  <div class="pa-3" style="overflow-y: auto">
    <v-row>
      <v-col>
        <v-text-field prepend-inner-icon="mdi-filter" outlined placeholder="Filter" v-model="filter"></v-text-field>
      </v-col>
      <v-col>
        <v-combobox :items="tags" multiple small-chips prepend-inner-icon="mdi-tag" outlined placeholder="Filter"
                    v-model="tagFilter"></v-combobox>
      </v-col>
    </v-row>
    <v-data-table
        :headers="headers"
        :items="recipesLazy"
        :single-select="singleSelect"
        class="elevation-1"
        show-expand
        :expanded.sync="expanded"
        @item-expanded="loadRecipesDataById"
    >
      <template v-slot:expanded-item="{ headers, item }">
        <td colspan="8">
          <v-card class="mt-2 mb-2" style="width: 100%"  flat elevation="0">
            <v-card-title>{{ item.title }}</v-card-title>
            <v-card-subtitle>{{ item.portions }} persone - tempo di preparazione: {{ item.time }} min -
              {{ item.milkFree ? 'con' : 'senza' }} presenza di lattosio -
              {{ item.glutenFree ? 'con' : 'senza' }} presenza di glutine -
              ricetta {{ item.meetFree ? 'non' : '' }} vegetariana
              <br>
              <v-skeleton-loader
                  type="chip"
                  :loading="item.tags.length === 0"
              >
              <v-chip-group
                  active-class="primary--text"
                  column
              >
                <v-chip
                    v-for="tag in item.tags"
                    :key="tag"
                >
                  <b>{{ tag }}</b>
                </v-chip>
              </v-chip-group>
              </v-skeleton-loader>
            </v-card-subtitle>
            <v-card-text>
              <v-divider></v-divider>
              <v-skeleton-loader
                  type="chip"
                  :loading="item.ingredients.length === 0"
              >
              <v-chip-group
                  active-class="primary--text"
                  column
              >
                <v-chip
                    v-for="(ingredient,index) in item.ingredients"
                    :key="index"
                >
                  <b>{{ ingredient.ingredient }}</b> : <i>{{ ingredient.quantity }} {{ ingredient.type }}</i>
                </v-chip>
              </v-chip-group>
              </v-skeleton-loader>
              <v-divider></v-divider>
              <v-skeleton-loader
                  type="paragraph"
                  width="100%"
                  :loading="item.steps.length === 0"
              >
              <v-list>
                <template v-for="step in item.steps" >
                  <v-list-item
                      :key="step.id"
                  >
                    <v-list-item-action>
                      <v-icon>mdi-label</v-icon>
                    </v-list-item-action>

                    <v-list-item-content>
                      <v-list-item-title>{{ step.data }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </template>
              </v-list>
              </v-skeleton-loader>
            </v-card-text>
          </v-card>
        </td>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon
            small
            class="mr-2"
            @click="modifyRecipe(item)"
        >
          mdi-pencil
        </v-icon>
        <v-icon
            small
            @click="deleteRecipe(item)"
        >
          mdi-delete
        </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn
            color="primary"
            @click="initialize"
        >
          Reset
        </v-btn>
      </template>
      <template v-slot:item.milkFree="{ item }">
        <v-icon>
          {{ item.milkFree ? 'mdi-coffee' : 'mdi-coffee-off' }}
        </v-icon>
      </template>
      <template v-slot:item.meetFree="{ item }">
        <v-icon>
          {{ item.meetFree ?  'mdi-food-drumstick' : 'mdi-food-drumstick-off'  }}
        </v-icon>
      </template>
      <template v-slot:item.glutenFree="{ item }">
        <v-icon>
          {{ item.glutenFree ?  'mdi-barley' : 'mdi-barley-off'  }}
        </v-icon>
      </template>

    </v-data-table>

  </div>
</template>

<script>


export default {
  name: "AllRecipesComponent",
  props: {
    recipes: {required: false},
    tags: {required: false},
    loadIngredients: {required: false},
    loadSteps: {required: false},
  },
  data: () => ({
    idRecipe: null,
    filter: "",
    recipesLazy: undefined,
    tagFilter: [],
    selectedItem: [],
    headers: [
      {
        text: 'Titolo',
        align: 'start',
        sortable: true,
        value: 'title',
      },
      {text: 'Tempo di preparazione', value: 'time'},
      {text: 'Porzioni', value: 'portions'},
      {text: 'Senza Glutine', value: 'glutenFree'},
      {text: 'Senza Carne', value: 'meetFree'},
      {text: 'Senza Lattosio', value: 'milkFree'},
      { text: '_Azioni_', value: 'actions', sortable: false },
    ],
    singleSelect: true,
    expanded: [],
    tagTimer:null,
  }),
  methods: {
    deleteRecipe(index) {
      this.$emit("deleteRecipe", index);
    },
    modifyRecipe(recipe) {
      this.idRecipe = recipe.id
      this.$emit("modifyRecipe", recipe);
    },
    async loadRecipesDataById(data) {
      let find = this.recipesLazy.find(a => a.id === data.item.id);
      if (data.item.ingredients.length === 0) {
        let ingredients = await this.loadIngredients(data.item.id);
        find.ingredients = ingredients.docs.map(doc => {
          let data = doc.data();
          data.id = doc.id;
          return data;
        });
      }
      if (data.item.steps.length === 0) {
        let steps = await this.loadSteps(data.item.id);
        find.steps = steps.docs.map(doc => {
          let data = doc.data();
          data.id = doc.id;
          return data;
        });
      }

    },
    initialize(){

    }
  },
  watch: {
    recipes() {
      this.idRecipe = null;
      this.recipesLazy = this.recipes;
    },
    filter() {
      if (this.filter && this.filter.length === 0)
        this.filter = "";
      if (this.recipesLazy && this.recipes)
        this.recipesLazy = this.recipes.filter(f => f.title.toUpperCase().includes(this.filter.toUpperCase()) && (this.tagFilter.length===0 || this.tagFilter.some( s =>f.data.tags.includes(s))))
    },
    tagFilter() {
      if (this.tagFilter && this.tagFilter.length === 0)
        this.recipesLazy = this.recipes;
      if (this.recipesLazy && this.recipes)
        this.recipesLazy = this.recipes.filter(f => f.title.includes(this.filter) && (this.tagFilter.length===0 || this.tagFilter.some( s =>f.tags.includes(s))))
    },

  }
}
</script>

<style scoped>
.selected {
  border-left: 5px solid blue !important
}

</style>