<template>

  <div class="pa-3">
    <v-form
        v-model="valid"
        ref="form">
      <v-text-field
          :rules="[v => !!v || 'Il campo è obbligatorio']"
          outlined label="Titolo" v-model="title"></v-text-field>
      <v-combobox
          v-model="tags"
          :items="tagItemsLazy"
          :search-input.sync="search"
          hide-selected
          outlined
          label="Tags"
          multiple
          persistent-hint
          small-chips
      >
        <template v-slot:no-data>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>
                Questo tag non é presente: <strong>{{ search }}</strong>. Premi <kbd>Invio</kbd> per crearlo.
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-combobox>
      <v-row>
        <v-col>
          <v-text-field
              :rules="[v => !!v || 'Il campo è obbligatorio']"
              outlined label="Porzioni o quantità" v-model="portions"></v-text-field>
        </v-col>
        <v-col>
          <v-text-field
              :rules="[v => !!v || 'Il campo è obbligatorio']"
              outlined label="Tempo di Preparazione" v-model="time"></v-text-field>
        </v-col>
        <v-col cols="1">
          <!--          <v-checkbox v-model="glutenFree" ></v-checkbox>-->
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn v-on="on" outlined x-large icon @click="glutenFree = !glutenFree">
                <v-icon>{{ glutenFree ?  'mdi-barley' : 'mdi-barley-off' }}</v-icon>
              </v-btn>
            </template>
            <span> {{ glutenFree ? 'con' : 'senza' }} presenza di glutine </span>
          </v-tooltip>
        </v-col>
        <v-col cols="1">
          <!--          <v-checkbox v-model="milkFree" label="con presenza di lattosio"></v-checkbox>-->
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn v-on="on" outlined x-large icon @click="milkFree = !milkFree">
                <v-icon>{{ milkFree ? 'mdi-coffee' :  'mdi-coffee-off' }}</v-icon>
              </v-btn>
            </template>
            <span> {{ milkFree ? 'con' : 'senza' }} presenza di lattosio </span>
          </v-tooltip>
        </v-col>
        <v-col cols="1">
          <!--          <v-checkbox v-model="milkFree" label="con presenza di lattosio"></v-checkbox>-->
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn v-on="on" outlined x-large icon @click="meetFree = !meetFree">
                <v-icon>{{ meetFree ?   'mdi-food-drumstick' : 'mdi-food-drumstick-off' }}</v-icon>
              </v-btn>
            </template>
            <span> ricetta {{ meetFree ? 'non' : '' }} vegetariana </span>
          </v-tooltip>
        </v-col>
      </v-row>
      <v-chip-group
          active-class="primary--text"
          column
          v-model="modifyIngredientIndex"

      >
        <v-chip
            v-for="(ingredient,index) in ingredients"
            :key="index"
            close
            @click:close="removeIngredient(index)"
        >
          <b>{{ ingredient.ingredient }}</b> : <i>{{ ingredient.quantity }} {{ ingredient.type }}</i>
        </v-chip>
      </v-chip-group>
      <v-row>
        <v-col cols="6">
          <v-text-field
              :rules="ingredientRules"
              outlined label="Ingrediente" v-model="ingredient"></v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field
              :rules="ingredientRulesEmpty"
              outlined label="Quantità" v-model="quantity"></v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field
              :rules="ingredientRulesEmpty"
              outlined label="Tipologia" v-model="typology"></v-text-field>
        </v-col>
        <v-col cols="1">
          <v-btn icon x-large rounded outlined elevation="0" @click="clearIngredient">
            <v-icon>mdi-trash-can-outline</v-icon>
          </v-btn>
        </v-col>
        <v-col cols="1">
          <v-btn icon x-large rounded outlined elevation="0" @click="addIngredient()">
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <div v-for="(item, index) in steps" :key="index">
        <div>{{ index }}.</div>
        <v-card outlined :color="chooseColor(index)" flat elevation="0">
          <v-card-text v-html="item"></v-card-text>
          <v-card-actions>
            <v-btn text x-small @click="deleteStep(index)">cancella</v-btn>
            <v-btn text x-small @click="modifyStep(index)">modifica</v-btn>
          </v-card-actions>
        </v-card>
      </div>
      <v-row>
        <v-col class="mt-2">
          <v-textarea
              :rules="stepsRules"
              outlined flat label="Step" v-model="step"></v-textarea>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-btn style="width: 100%" outlined @click="addStep">
            <v-icon>mdi-plus</v-icon>
            {{ stepIndex === null ? 'Aggiungi nuovo step' : 'Modifica step - ' + stepIndex }}
          </v-btn>
        </v-col>
        <v-col>
          <v-btn style="width: 100%" outlined @click="clearStep">
            <v-icon>mdi-trash-can-outline</v-icon>
            Pulisci la form
          </v-btn>
        </v-col>
        <v-col>
          <v-btn style="width: 100%" color="success" @click="insertRecipes">
            <v-icon>mdi-clipboard-plus-outline</v-icon>
            {{ id === null ? 'Aggiungi nuova ricetta' : 'Modifica Ricetta' }}
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </div>
</template>

<script>
import {Recipe} from"@/model/recipe"

export default {
  name: "InsertRecipesForm",
  props: {
    recipe: {required: false},
    tagItems: {required: false},
  },

  data: () => ({
    id: null,

    title: "",
    glutenFree: false,
    milkFree: false,
    meetFree: false,
    quantity: "",
    typology: "",
    steps: [],
    step: "",
    ingredients: [],
    ingredient: "",
    modifyIngredientIndex: null,
    tags: [],
    portions: "",
    time: "",
    stepIndex: null,
    valid: false,

    tagItemsLazy: [],

    ingredientRules:[],
    ingredientRulesEmpty:[],
    stepsRules:[],

    search: null,
  }),
  methods: {
    chooseColor(index) {
      if (index === this.stepIndex) {
        return 'blue';
      }
      return ''
    },
    addStep() {
      if (this.stepIndex !== null) {
        this.steps[this.stepIndex] = this.step;
        this.step = "";
        this.stepIndex = null;
      } else {
        this.steps.push(this.step);
        this.step = "";
      }
    },
    deleteStep(index) {
      this.steps.splice(index, 1);
    },
    removeIngredient(index) {
      this.ingredients.splice(index, 1);
    },
    addIngredient() {
      if (this.modifyIngredientIndex !== undefined && this.modifyIngredientIndex !== null) {
        this.ingredients[this.modifyIngredientIndex].ingredient = this.ingredient;
        this.ingredients[this.modifyIngredientIndex].type = this.typology;
        this.ingredients[this.modifyIngredientIndex].quantity = this.quantity;
        this.modifyIngredientIndex = null;
      } else if (this.ingredient !== "" && this.quantity !== "") {
        this.ingredients.push({ingredient: this.ingredient, quantity: this.quantity, type: this.typology})
        this.quantity = "";
        this.ingredient = "";
        this.typology = "";
      }

    }, clearIngredient() {
      this.modifyIngredientIndex = undefined;
      this.quantity = "";
      this.ingredient = "";
      this.typology = "";
    },
    insertRecipes() {
      this.ingredientRules = [() => this.ingredients.length>0 || 'Inserire almeno un ingrediente'];
      this.ingredientRulesEmpty = [() => this.ingredients.length>0 || ''];
      this.stepsRules = [() => this.steps.length>0 || 'Inserire almeno uno step'];


      this.$refs.form.validate()
      if (this.valid && this.steps.length > 0 && this.ingredients.length > 0) {
        this.ingredientRules = [];
        this.ingredientRulesEmpty = [];
        this.stepsRules = [];
        let rec = new Recipe(this.id,this.title,this.time, this.portions,this.milkFree,this.meetFree,this.glutenFree,this.tags,this.steps,this.ingredients)
        this.$emit("recipe", rec)
        this.clearStep();
      }
    },
    modifyStep(index) {
      this.stepIndex = index;
      this.step = this.steps[index];
    },
    clearStep() {
      this.title = "";
      this.glutenFree = false;
      this.milkFree = false;
      this.meetFree = false;
      this.ingredients = [];
      this.tags = [];
      this.portions = "";
      this.time = "";
      this.steps = [];
      this.$refs.form.reset()
    }
  },
  watch: {
    modifyIngredientIndex() {
      let ingredient = this.ingredients[this.modifyIngredientIndex];
      if (ingredient) {
        this.quantity = ingredient.quantity;
        this.ingredient = ingredient.ingredient;
        this.typology = ingredient.type;
      }
    },
    recipe() {
      this.id = this.recipe.id;
      this.title = this.recipe.title;
      this.glutenFree = this.recipe.glutenFree;
      this.milkFree = this.recipe.milkFree;
      this.meetFree = this.recipe.meetFree;
      this.ingredients = this.recipe.ingredients;
      this.tags = this.recipe.tags.map(a=> a.id);
      this.portions = this.recipe.portions;
      this.time = this.recipe.time;
      this.steps = this.recipe.steps.map(a=>a.data);
    },
    tagItems() {
      this.tagItemsLazy = this.tagItems;
    }
  }

}
</script>

<style scoped>
.active {
  background-color: blue;
}

</style>