<template>
  <div class="fill-height" style="overflow-y: hidden ; overflow-x: hidden ">
    <v-row>
      <v-col >
        <insert-recipes-form :recipe="recipeToModify" :tag-items="tags" @recipe="mergeRecipe"></insert-recipes-form>
      </v-col>
      <v-col >
        <all-recipes-component @modifyRecipe="modifyRecipe" :tags="tags" :load-ingredients="loadIngredients" :load-steps="loadSteps"  @deleteRecipe="deleteRecipe"
                               :recipes="recipes" @filterTag="filterTag"></all-recipes-component>
      </v-col>
    </v-row>
    <v-snackbar
        v-model="successDialogOpen"
        :timeout="timeout"
        color="transparent"
        elevation="0"
    >
      <v-alert
          type="success"
      >
        {{ successDialogText }}
      </v-alert>
    </v-snackbar>
    <v-snackbar
        v-model="errorDialogOpen"
        :timeout="timeout"
        color="transparent"
        elevation="0"
    >
      <v-alert
          type="success"
      >
        {{ errorDialogText }}
      </v-alert>
    </v-snackbar>
  </div>
</template>
<script>
import InsertRecipesForm from "@/components/InsertRecipesForm";
import {service} from "@/services";
import AllRecipesComponent from "@/components/AllRecipesComponent";
import {Recipe} from"@/model/recipe"

export default {
  name: 'Home',
  components: {AllRecipesComponent, InsertRecipesForm},
  data: () => ({
    recipes: [],
    loadRecipes: false,
    recipeToModify: null,
    successDialogOpen: false,
    errorDialogOpen: false,
    timeout: 500,
    showCreate:true,
    showRecipesTable:true,
    showDetail:true,
    errorDialogText: "",
    successDialogText: "",

    tagsID: "",
    tags: [],

    filterTags:[],
  }),
  methods: {
    filterTag(a){
      this.filterTags = a;
      this.loadRecipesData();
    },
    async mergeRecipe(recipe) {
      let t = recipe.tags;
      console.log(t);
      console.log(recipe);
      console.log(this.tags);
      if ((this.tags === undefined || this.tags.length === 0) && t && t.length > 0){
           await service.addTags({items:t});
      }else{
        let nonPresentTag = t.filter(f=>!this.tags.some(a=>a===f.id));
        if (nonPresentTag && nonPresentTag.length > 0) {
          nonPresentTag.forEach(n=>this.tags.push(n));
          await service.mergeTags({items:this.tags}, this.tagsID);
        }
      }

      if (recipe.id) {
        service.mergeRecipe(recipe).then(() => {
          this.openSuccessDialog("elemento salvato con successo");
        }).catch(() => {
          this.openErrorDialog("ops c'è stato un problema ");
        }).finally(() => {
          this.loadRecipesData();
        });
      } else {
        service.addRecipe(recipe).then(() => {
          this.openSuccessDialog("elemento salvato con successo");
        }).catch(() => {
          this.openErrorDialog("ops c'è stato un problema");
        }).finally(() => {
          this.loadRecipesData();
        });
      }
    },
    async modifyRecipe(recipe) {
      // if(recipe.tags.length===0){
      //   let tags = await this.loadTags(recipe.id);
      //   recipe.tags = tags.docs.map(doc => {
      //     let data = doc.data();
      //     data.id = doc.id;
      //     return data;
      //   });
      // }
      if(recipe.steps.length===0){
        let steps = await this.loadSteps(recipe.id);
        recipe.steps = steps.docs.map(doc => {
          let data = doc.data();
          data.id = doc.id;
          return data;
        });
      }
      if(recipe.ingredients.length===0){
        let ingredients = await this.loadIngredients(recipe.id);
        recipe.ingredients = ingredients.docs.map(doc => {
          let data = doc.data();
          data.id = doc.id;
          return data;
        });
      }
      this.recipeToModify = recipe;

    },
    async loadRecipesData() {
      this.loadRecipes = true;
      let r = await service.getAllRecipe(this.filterTags);
      this.recipes = r.docs.map(doc => {
        let data = doc.data();
        data.id = doc.id;
        return new Recipe(data.id,data.title,data.time,data.portions,data.milkFree,data.meetFree,data.glutenFree,data.tags,[],[]);
      });
      console.log(this.recipes);
      this.loadRecipes = false;
    },
    openErrorDialog(text) {
      this.errorDialogOpen = true;
      this.errorDialogText = text;
    },
    openSuccessDialog(text) {
      this.successDialogOpen = true;
      this.successDialogText = text;
    },
    async deleteRecipe(item) {
      await service.deleteRecipe(item);
      this.openSuccessDialog("elemento eliminato con successo");
      await this.loadRecipesData();
    },
    async loadAllTags() {
      let t = await service.getTags();
      let tag = t.docs.map(doc => {
        return {id: doc.id, data: doc.data()}
      });
      if(tag[0].data && tag[0].id){
        this.tagsID = tag[0].id;
        this.tags = tag[0].data.items;
      }
    },
    // loadTags(id){
    //   return service.getTagsByIdRecipes(id);
    // },
    loadIngredients(id){
      return service.getIngredientsByIdRecipes(id);
    },
    loadSteps(id){
      return service.getStepsByIdRecipes(id);
    },
  },
  created() {
    this.loadRecipesData();
    this.loadAllTags();
  }
}
</script>
<style lang="">

</style>